<div>
    <!-- ko if: style() == 'dropdown'  -->
    <div class="subscription-option-wrapper">
        <span data-bind="i18n: 'Subscription Option'"></span>
        <select class="subscription-option-field" data-bind="options:options(), selectedOptions: selectedSubcriptionOption,
                    optionsText:  function(item) {
                        return item.optionName()
                    },
                    optionsValue : function (item) {
                        return item.key()
                    },
                    event:{ change:chooseOption},
                    value:optionKey,
                    attr: { name: 'subscription_option' }"
        >
        </select>
    </div>


    <!-- /ko -->

    <!-- ko if: style() == 'radio'  -->
    <div class="subscription-option-wrapper">
        <span data-bind="i18n: 'Subscription Option'"> </span>
        <!-- ko foreach:  { data: options, as: 'option' } -->
        <div class="subscription-option-field">
            <label>
                <span data-bind="text: option.optionName()"> </span>
            </label>
            <div class="subscription-radio-field">
                <input type="radio" name="subscription_option"
                       data-bind="click: $parent.chooseRadio.bind($parent), value: option.key(),attr: {class: 'required-entry'}"/>
            </div>
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->

    <div style="display:none">
        <input name="additional_options[Main Period]" data-bind="value:mainPeriod(), enable: isEnabled"/>
        <input name="additional_options[Trial Period]" data-bind="value:trialPeriod(), enable: isEnabled">
        <input id="trial_amount" type="text" name="additional_options[Trial Amount]"
               data-bind="value:trialAmount, enable: isEnabled"/>
        <input id="init_fee" type="text" name="additional_options[Initial Fee]"
               data-bind="value:initFee, enable: isEnabled"/>
    </div>

    <div>
        <!-- ko foreach: {data: elems, as: 'item'} -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
    <!--<div data-bind="afterRender: addOptionInfo"></div>-->

</div>