<p> Period Unit: <strong data-bind="text: $parent.periodUnit"></strong></p>
<p> Billing Frequency: <strong data-bind="text: $parent.billingFrequency"></strong></p>
<p> Maximum Billing Cycles: <strong data-bind="text: $parent.maxBillingCycles"></strong></p>
<p> Trial Enabled: <strong data-bind="text: $parent._trialEnabled"></strong></p>
<p> Trial Amount: <strong data-bind="text: $parent._trialAmount"></strong></p>
<p> Initial Fee Enabled: <strong data-bind="text: $parent._initFeeEnabled"></strong></p>
<p> Initial Amount: <strong data-bind="text: $parent._initAmount"></strong></p>

