<?php
/**
 * Created by Magenest.
 * Author: Pham Quang Hau
 * Date: 14/03/2016
 * Time: 16:10
 */
?>
<div id="subscription-checkout-popup" style="display: none">
    <p> <?php echo __('you have to remove other products to subscribe to recurring payment plan') ?></p>
</div>
<div id="invalid-start-date-popup" style="display: none">
    <p> <?php echo __('you have item in cart with invalid start date') ?></p>
</div>

<script type="text/javascript">
    var BASE_URL = '<?php echo $block->getBaseUrl();?>';
    require(
        [ 'jquery', 'Magenest_Subscription/js/view/checkout/hint' ],
        function($, hint) {
            var myhint = hint();
            myhint.showMessage();
        }
    );
</script>
