<?php
/** @var \Magenest\Subscription\Block\Adminhtml\Sales\Order\View\Info $block */
$isParentOrder = $block->isParentOrder();

if (!$isParentOrder) {
    $parentOrder = $block->getParentOrder();
    if ($parentOrder) {
        ?>
        <br><br>
        <section class="admin__page-section">
            <div class="admin__page-section-title">
                <span class="title">Subscription Order</span>
            </div>
            <div class="admin__table-wrapper">
                <table class="data-table admin__table-primary edit-order-table">
                    <thead>
                    <tr class="headings">
                        <th><span>Parent Order</span></th>
                        <th><span>Recurring profile ID</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <a href="<?php echo($block->getOrderUrl($parentOrder['parent_order'])); ?>">
                                #<?php echo($parentOrder['parent_order']); ?>
                            </a>
                        </td>
                        <td>
                            <a href="<?php echo($block->getProfileUrl($parentOrder['profile_id'])); ?>">
                                <?php echo($parentOrder['profile_id']); ?>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>

    <?php }
} else {
    ?>
    <br><br><br>
    <section class="admin__page-section">
        <div class="admin__page-section-title">
            <span class="title">Subscription Order</span>
        </div>
        <div class="admin__table-wrapper">
            <?php
            $profiles = $block->getAssociatedProfiles();
            foreach ($profiles as $profile) {
                ?>
                <table class="data-table admin__table-primary edit-order-table">
                    <thead>
                    <tr class="headings">
                        <th><span>Child Orders</span></th>
                        <th><span>Associated recurring profiles</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <a href="<?php echo($block->getOrderUrl($profile['child_order'])); ?>">
                                #<?php echo($profile['child_order']); ?>
                            </a>
                        </td>
                        <td><a href="<?php echo($block->getProfileUrl($profile['profile_id'])); ?>">
                                <?php echo($profile['profile_id']); ?>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            <?php } ?>
        </div>
    </section>
    <?php
} ?>
