<?php
/**
 * Created by Magenest.
 * Author: Pham Quang Hau
 * Date: 29/03/2016
 * Time: 02:51
 */
/**@var \Magenest\Subscription\Block\Customer\View $block */
?>
<?php $profile = $block->getProfile(); ?>
<?php $product = $block->getProductModel(); ?>
<?php if ($profile->getMethodCode() == 'check/order') {
    $render_code = 0;
    $method_code = 'Check/Order';
} elseif ($profile->getMethodCode() == 'paypal_express') {
    $render_code = 1;
    $method_code = 'Paypal Express Checkout';
} else if ($profile->getMethodCode() == 'authorizenet_directpost') {
    $render_code = 2;
    $method_code = 'Authorize.net Directpost ARB';
} ?>
<?php
$trialAmt = $profile->getTrialAmt();
$initAmt = $profile->getInitAmt();
$shipToName = $profile->getShipToName();
?>


<div class="action-wrapper">
    <?php echo $block->getChildHtml('action_info'); ?>
</div>


<div class="block block-order-details-view">
    <div class="block-title">
        <strong><?php echo __('General Recurring Information'); ?></strong>
    </div>
    <div class="block-content">
        <div class="box" style="width: 50%; display: inline; float: left">
            <strong class="box-title">
                <span><?php echo __('Profile Reference'); ?></span>
            </strong>
            <div class="box-content">
                <table>
                    <tr>
                        <th><?php echo __('Payment Method'); ?></th>
                        <td><?php echo $block->escapeHtml($method_code); ?></td>
                    </tr>
                    <?php if ($render_code == 1) { ?>
                        <tr>
                            <th><?php echo __('Profile ID'); ?></th>
                            <td><?php echo $profile->getProfileId(); ?></td>
                        </tr>
                    <?php } elseif ($render_code == 2) { ?>
                        <tr>
                            <th><?php echo __('Subscription ID'); ?></th>
                            <td><?php echo $profile->getProfileId(); ?></td>
                        </tr>
                    <?php } else { ?>
                        <tr>
                            <th><?php echo __('Profile ID'); ?></th>
                            <td><?php echo __('N/A'); ?></td>
                        </tr>
                    <?php } ?>
                    <tr>
                        <th><?php echo __('Status'); ?></th>
                        <td><?php echo ucfirst($profile->getState()); ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Subscription Description'); ?></th>
                        <td><?php echo $profile->getProductName(); ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Date of Subscription'); ?></th>
                        <td><?php echo $profile->getCreatedAt(); ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Subscriber Name'); ?></th>
                        <td><?php echo $profile->getSubscriberName(); ?></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="box" style="width: 50%; display: inline; float: left">
            <strong class="box-title">
                <span><?php echo __('Recurring Schedule'); ?></span>
            </strong>
            <div class="box-content">
                <table>
                    <tr>
                        <th><?php echo __('Start Date'); ?></th>
                        <td><?php
                            $startDate = date_create($profile->getStartDatetime());
                            $startDate = date_format($startDate, "D, Y-m-d"); // remove H:i:s
                            echo $startDate; ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Maximum Payment Failures'); ?></th>
                        <?php if ($profile->getSuspensionThreshold() != -1) { ?>
                            <td><?php echo $profile->getSuspensionThreshold(); ?></td>
                        <?php } else { ?>
                            <td><?php echo __('N/A'); ?></td>
                        <?php } ?>
                    </tr>
                    <tr>
                        <th><?php echo __('Billing Period Info') ?></th>
                        <td><?php echo $profile->getPeriodFrequency() . ' ' . $profile->getPeriodUnit() . " cycle. "; ?>
                            <?php echo 'Repeat ' . $profile->getPeriodMaxCycles() . ' time(s).' ?>
                        </td>
                    </tr>
                    <tr>
                        <th><?php echo __('Regular Billing Amount'); ?></th>
                        <td><?php echo $profile->getCurrencyCode() ?> <?php echo $profile->getBillingAmount()-$profile->getData('init_amt'); ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Regular Tax Amount'); ?></th>
                        <td><?php if ($profile->getTaxAmount())  echo  $profile->getCurrencyCode() ?>  <?php echo $block->renderField($profile->getTaxAmount()); ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Regular Shipping Amount'); ?></th>
                        <td><?php if ($profile->getShippingAmount()) echo  $profile->getCurrencyCode() ?> <?php echo $block->renderField($profile->getShippingAmount()); ?></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="box" style="width: 50%; display: inline; float: left">
            <strong class="box-title">
                <span><?php echo __('Current Status'); ?></span>
            </strong>
            <div class="box-content">
                <table>
                    <tr>
                        <th><?php echo __('Cycles Completed'); ?></th>
                        <td><?php echo $block->renderField($profile->getData('cycles_completed')); ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Cycles Remaining'); ?></th>
                        <td><?php echo $block->renderField($profile->getData('cycles_remaining')); ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Outstanding Balance'); ?></th>
                        <td><?php if ($block->renderField($profile->getData('trial_paid')) != 'N/A') echo  $profile->getCurrencyCode() ?> <?php echo $block->renderField($profile->getData('outstanding_balance')); ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Failed Payments'); ?></th>
                        <td><?php echo $block->renderField($profile->getData('failed_payments')); ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Amount of Trial Period Paid'); ?></th>
                        <td><?php if ($block->renderField($profile->getData('trial_paid')) != 'N/A') echo $profile->getCurrencyCode() ?> <?php echo $block->renderField($profile->getData('trial_paid')); ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Amount of Regular Period Paid'); ?></th>
                        <td><?php if ($block->renderField($profile->getData('regular_paid')) != 'N/A') echo $profile->getCurrencyCode() ?> <?php echo $block->renderField($profile->getData('regular_paid')); ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Aggregate Amount'); ?></th>
                        <td><?php if ($block->renderField($profile->getData('aggregate_amount')) != 'N/A')  echo $profile->getCurrencyCode() ?> <?php echo $block->renderField($profile->getData('aggregate_amount')); ?></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="block block-order-details-view">
    <div class="block-title">
        <strong><?php echo __('Trial and Initial Fee Information'); ?></strong>
    </div>
    <div class="box" style="width: 50%; display: inline; float: left">
        <strong class="box-title">
            <span><?php echo __('Trial Fee Information'); ?></span>
        </strong>
        <div class="box-content">
            <?php if ($trialAmt) { ?>
                <table>
                    <tr>
                        <th><?php echo __('Period Info'); ?></th>
                        <td><?php
                            echo $profile->getTrialBillingFrequency()  . ' ' . $profile->getTrialBillingPeriod() ;
                            echo    __(' cycle. ') ;
                            ?>
                            &nbsp;
                            <?php echo __('Repeat')    ?>
                            &nbsp;
                            <?php echo $profile->getTrialBillingCycles()  ?>
                            &nbsp;
                            <?php echo __('time(s)') ?>
                        </td>
                    </tr>
                    <tr>
                        <th><?php echo __('Regular Trial Amount'); ?></th>

                        <td><?php echo  $profile->getCurrencyCode()?> <?php echo $trialAmt ?></td>
                    </tr>
                </table>
            <?php } else {
                echo __('Trial Period Not Enabled For This Profile');
            } ?>
        </div>
    </div>
    <?php if ($render_code == 1) { ?>
        <div class="box" style="width: 50%; display: inline; float: left">
            <strong class="box-title">
                <span><?php echo __('Initial Fee Information'); ?></span>
            </strong>
            <div class="box-content">
                <?php if (!empty($profile->getInitAmt())) { ?>
                    <table class="admin__table-secondary order-information-table">
                        <tr>
                            <th><?php echo __('Initial Fee'); ?></th>
                            <td><?php echo  $profile->getCurrencyCode()?>  <?php echo $profile->getInitAmt(); ?></td>
                        </tr>
                    </table>
                <?php } else {
                    echo __('Initial Fee Not Enabled For This Profile');
                } ?>
            </div>
        </div>
    <?php } ?>
</div>

<div class="block block-order-details-view">
    <div class="block-title">
        <strong><?php echo __('Product and Shipping Information'); ?></strong>
    </div>
    <div class="box" style="width: 50%; display: inline; float: left">
        <strong class="box-title">
            <span><?php echo __('Shipping Information'); ?></span>
        </strong>
        <div class="box-content">
            <table>
                <tr>
                    <th><?php echo __('Ship to Name'); ?></th>
                    <td><?php echo $profile->getShipToName(); ?></td>
                </tr>
                <tr>
                    <th><?php echo __('Street'); ?></th>
                    <td><?php echo $profile->getShipToStreet() ?></td>
                </tr>
                <tr>
                    <th><?php echo __('City'); ?></th>
                    <td><?php echo $profile->getShipToCity() ?></td>
                </tr>
                <?php if ($profile->getShipToState()) { ?>
                    <tr>
                        <th><?php echo __('State'); ?></th>
                        <td><?php echo $profile->getShipToState() ?></td>
                    </tr>
                <?php } ?>
                <tr>
                    <th><?php echo __('ZIP Postal Code'); ?></th>
                    <td><?php echo $profile->getShipToZip() ?></td>
                </tr>
                <tr>
                    <th><?php echo __('Country'); ?></th>
                    <td><?php echo $profile->getShipToCountry() ?></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="box" style="width: 50%; display: inline; float: left">
        <strong class="box-title">
            <span><?php echo __('Product Information'); ?></span>
        </strong>
        <?php
           $itemInfo = unserialize($profile->getItemInfo());
        ?>

        <div class="box-content">
            <?php
            if ($itemInfo) {

            ?>
            <table>
                <?php foreach ($itemInfo as $item)  {  ?>
                <tr>
                    <th><?php echo __('Name'); ?></th>
                    <td><?php echo $item['product_name']; ?></td>
                </tr>
                <tr>
                    <th><?php echo __('Sku'); ?></th>
                    <td><?php echo $item['product_sku']; ?></td>
                </tr>
                <?php } ?>
            </table>
            <?php
            }
            ?>
        </div>
    </div>
</div>
