<?php
/**
 * Created by Magenest.
 * Author: Pham Quang Hau
 * Date: 24/03/2016
 * Time: 01:42
 */
/**@var \Magenest\Subscription\Block\Customer\Profiles $block */
?>
<?php $profiles = $block->getProfiles(); ?>

<div style="width: 20%; float: left; display: none">
    <a href="<?php echo $block->getRefreshUrl(); ?>"><span>Refresh List</span></a>
</div><br>

<?php if (!sizeof($profiles)) {?>
    <div class="message info empty">
        <span><?php echo __('You haven\'t have any recurring profile yet.'); ?></span>
    </div>
<?php } else { ?>
<?php if ($block->getPagerHtml()): ?>
    <div class="order-products-toolbar toolbar bottom custom-pager"><?php echo $block->getPagerHtml(); ?></div>
<?php endif ?>
<div class="table-wrapper transaction-history" id="transaction_history" data-bind="scope: 'profileList'">
    <table id="customer-booking-order-list" class="data table table-downloadable-products">
            <thead>
            <tr class="headings">
                <th><?php echo __('Profile ID'); ?></th>
                <th><?php echo __('Status'); ?></th>
                <th><?php echo __('Method'); ?></th>
                <th><?php echo __('Start Date'); ?></th>
                <th><?php echo __('Regular Amount'); ?></th>
                <th><?php echo __('Recurring Period'); ?></th>
            </tr>
            </thead>

            <tbody>
            <tr>
            <?php foreach ($profiles as $profile) {
                $methodCode = $profile->getMethodCode(); ?>

                <?php if ($profile->getProfileId()) { ?>
                    <td><?php echo $profile->getProfileId(); ?></td>
                <?php } else { ?>
                    <td><?php echo __('N/A'); ?></td>
                <?php } ?>
                <td><?php echo ucfirst($profile->getState()); ?></td>
                <?php if ($methodCode == 'authorizenet_directpost') { ?>
                    <td><?php echo __('Authorize.net Directpost') ?></td>
                <?php } elseif ($methodCode == 'paypal_express')  { ?>
                    <td><?php echo __('Paypal Express Checkout') ?></td>
                <?php } else { ?>
                    <td><?php echo __('Check/Order') ?></td>
                <?php } ?>
                <td><?php
                    $startDate = date_create($profile->getStartDatetime());
                    $startDate = date_format($startDate,"Y-m-d"); // remove time, only date (H:i:s)
                    $taxAmt = $profile->getTaxAmount() < 0 ? 0 : $profile->getTaxAmount();
                    $shippingAmt = $profile->getShippingAmount() < 0 ? 0 : $profile->getShippingAmount();
                    echo $startDate; ?></td>
                <td><?php echo $profile->getCurrencyCode() .' '. $profile->getBillingAmount()?></td>
                <td><?php echo $profile->getPeriodFrequency() . ' ' . $profile->getPeriodUnit() . " cycle. "; ?>
                    <?php echo 'Repeat ' . $profile->getPeriodMaxCycles() . ' time(s).'?>
                </td>
                <td data-th="<?php echo $block->escapeHtml(__('Actions')) ?>" class="col actions">
                    <a href="<?php echo $block->getProfileViewUrl($profile->getId()); ?>" class="action view">
                        <span><?php echo __('View Profile')?></span>
                    </a>
                    <a class="action-view" data-bind="click: function(data, event) { displayOrderList('<?php echo $profile->getId(); ?>', event, data)}">
                        <span class="action-view"><?php echo __('View Order') ?></span>
                    </a>
                </td>
            </tr>
            </tbody>
        <?php } ?>
    </table>

    <?php
    $orderProfiles = $block->getOrdersForEachProfile(false);
    if (!empty($orderProfiles)) {
         foreach ($orderProfiles as $profileId => $orderArr) { ?>
             <div id="modal-wrapper_order-<?php echo $profileId ?>" style="display: none">
                 <h2><?php echo __('Profile ') . $orderArr[0];
                 array_shift($orderArr)?></h2>
                 <?php if ($orderArr) { ?>
                     <table>
                         <thead>
                         <td>
                             <span><?php echo __('Order #'); ?></span>
                         </td>
                         <td>
                             <span><?php echo __('Date') ?> </span>
                         </td>
                         <td>
                             <span><?php echo __('Status') ?></span>
                         </td>
                         <td>
                             <span><?php echo __('Order total') ?></span>
                         </td>
                         </thead>
                         <tbody>
                         <?php if (!empty($orderArr)) {
                             foreach ($orderArr as $order) {
                                 /** @var \Magento\Sales\Model\Order $order */
                             ?>
                             <tr>
                                 <td><a href="<?php echo $order['order_link'] ?>"> <span><?php echo $order['increment_id'] ?></span></a></td>
                                 <td><span> <?php echo $order['created_date'] ?></span></td>
                                 <td><span> <?php echo $order['status'] ?></span></td>
                                 <td><span> <?php echo $order['grand_total'] ?></span></td>
                             </tr>
                        <?php } }?>

                         </tbody>
                     </table>
                 <?php } else { ?>
                     <h3>No order found.</h3>
                 <?php } ?>
             </div>
    <?php } } ?>

    <?php if ($block->getPagerHtml()): ?>
            <div class="order-products-toolbar toolbar bottom custom-pager"><?php echo $block->getPagerHtml(); ?></div>
        <?php endif ?>
</div>
<?php } ?>
<script type="text/javascript">
    window.rawprofilesOrder = <?php echo $block->getOrdersForEachProfile()?>;
</script>
<script type="text/x-magento-init">
    {
        "#transaction_history": {
            "Magento_Ui/js/core/app": {
                "components": {
                        "profileList": {
                            "component": "Magenest_Subscription/js/view/customer/profile/list"
                        }
                    }
                }
            }
    }
</script>