.template-grid-product {
    background: #cbd0d8;
    border: 1px solid #a7cedb;
    border-radius: 3px;
    cursor: default;
    height: auto;
    margin: 2px;
    padding: 2px 5px;
    display: inline-block;
}