<?php /* @var \Magenest\Subscription\Block\Adminhtml\Authorizenet\WebhookStatus $block */ ?>
<?php
//$elementId = $block->getElementId();
$ajaxUrl = $block->getHelper()->getPreEndpoint() . "rest/v1/webhooks";
$authorization = $block->getHelper()->getAuthorizationHeader();
?>
<font id="webhook-status" color="red">&#10008 <?php echo $block->getData('message'); ?></font>
<br>
<a id="add-authorize-webhook" href="#"><?php echo __("Click here to add webhook"); ?></a>
<div id="magenest-message-content" class="message" style="display: none">
</div>
<script>
    'use strict';
    require([
        'jquery',
        'prototype'
    ], function ($) {
        var elment = $("a#add-authorize-webhook"),
            messagerContent = $("div#magenest-message-content");

        var addMessage = function (type, message) {
            messagerContent.attr('class', 'message')
                .text(message)
                .addClass('message-' + type)
                .show('slow');
            setTimeout(function () {
                messagerContent.fadeOut('slow');
            }, 5000);
        };
        console.log('here');
        elment.click(function (event) {
            event.preventDefault();

            $.ajax({
                method: "GET",
                url: "<?php echo $block->getUrl('subscription/webhooks/authorizenet'); ?>",
                showLoader: true,
                context: $('body')
            }).done(function (res, status) {
                if (res === "OK") {
                    addMessage('success', res);
                    $("font#webhook-status").prop('color', 'green').html("&#10004 Ok");
                } else {
                    addMessage('error', res);
                }
            }).fail(function (res, status) {
                console.log(res);
                console.log(status);
                addMessage('error', status);
            });
        });
    });
</script>