<?php /** @var \Magenest\Subscription\Block\Sales\Order\View\Info $block */
$isParentOrder = $block->isParentOrder();
?>
<div class="block block-order-details-view">
    <div class="block-title">
        <strong><?php /* @escapeNotVerified */
            echo __('Subscription Information') ?></strong>
    </div>
    <div class="block-content">
        <?php if ($isParentOrder) { ?>
            <div class="box">
                <strong class="box-title">
                    <span>Associated recurring profile(s)</span>
                </strong>
                <div class="box-content">
                    <?php $profiles = $block->getAssociatedProfiles();
                    foreach ($profiles as $profile) { ?>
                        <br>
                        <a href="<?php echo($block->getProfileUrl($profile['profile_id'])); ?>"
                           style="font-family: 'monospace'">
                            <?php echo($profile['profile_id']); ?>
                        </a>
                    <?php } ?>
                </div>
            </div>
        <?php } else {
            $parentOrder = $block->getParentOrder();
            if ($parentOrder) { ?>
                <div class="box">
                    <strong class="box-title">
                        <span>Parent order</span>
                    </strong>
                    <div class="box-content">
                        <a href="<?php echo($block->getOrderUrl($parentOrder['parent_order'])); ?>">
                            #<?php echo($parentOrder['parent_order']); ?>
                        </a>
                    </div>
                </div>
                <div class="box">
                    <strong class="box-title">
                        <span>Recurring profile ID</span>
                    </strong>
                    <div class="box-content">
                        <a href="<?php echo($block->getProfileUrl($parentOrder['profile_id'])); ?>">
                            <?php echo($parentOrder['profile_id']); ?>
                        </a>
                    </div>
                </div>
            <?php } else { ?>
                <span>Subscription</span>
            <?php } ?>
        <?php } ?>
    </div>
</div>
