<?php
/**
 * Created by Magenest.
 * Author: Pham Quang Hau
 * Date: 10/03/2016
 * Time: 11:44
 */
/** @var \Magenest\Subscription\Block\Catalog\Product\View $block */
$isSubscription = $block->getIsSubscriptionProduct();
$currentOptions = $block->getCurrentItemOptions();
$currentDate = isset($currentOptions['Start Date'])
    ? $currentOptions['Start Date']
    : $block->getCurrentDate();
$currentMainPeriod = isset($currentOptions['Main Period'])
    ? $currentOptions['Main Period']
    : '';
$billingOptions = $block->getBillingOptions();
$customerDefineStart = $block->getCanUserDefineStartDate();
$optionCount = 0;
?>

<?php if ($isSubscription && is_array($billingOptions)) { ?>
    <div id="subscription" data-bind="scope: 'subscription'">
        <input name="subscription_mode" type="hidden" value="1"/>
        <div data-bind="afterRender:stopLoader">
            <div class="loading-mask" data-role="loader"  data-bind="visible:isLoading">
                <div class="loader">
                    <img src="<?php echo $block->getViewFileUrl('Magenest_Subscription::images/spinner.gif')?>" >
                    <p><span> <?php echo __('Loading')  ?></span></p>
                </div>
            </div>
            <!-- ko template:getTemplate() --> <!-- /ko -->
        </div>

    </div>


<script type="text/x-magento-init">
        {
            "#subscription": {
                  "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout(); ?>
            }
        }
</script>

    <div class="field">
        <label class="label" for="subscription_start_date">
            <span><?php echo __("Start Date") ?></span>
        </label>
        <?php if ($customerDefineStart) { ?>
            <div class="control scheduled-start-date">
                <input type="text" data-role="subscription-start-date" class="validate-date-au " value="<?php echo $block->getEditedStartDate() ?>" data-inputtype="calendar" name="subscription_start_date" >
            </div>
        <?php } else { ?>
            <div class="control scheduled-start-date">
                <input type="text" data-role="subscription-start-date" class="validate-date-au" value="<?php echo $currentDate; ?>" readonly name="subscription_start_date" >
            </div>
        <?php } ?>
    </div>
<script type="text/javascript">
    require([
        "jquery",
        'jquery/ui',
        "ko",
        'mage/calendar',
        'mage/translate',
        "domReady!"
    ], function($, jqueryui,ko, calendar, $t,domReady){
          $(document).ready(function () {
              $('input[data-inputtype="calendar"]').calendar({
                  dateFormat : 'dd/mm/yyyy',
                  minDate : new Date()
              });
          });

        document.addEventListener("subscribedEvent", function(event) {
            //if one-time-purchased option is chosen then remove required-entry
            if (event.detail == -1) {
                $('input[data-role="subscription-start-date"]').removeClass('required-entry');
            } else {
                $('input[data-role="subscription-start-date"]').addClass('required-entry');
            }
        });

    });
</script>
<?php } ?>