<?php
/**
 * Created by Magenest.
 * Author: Pham Quang Hau
 * Date: 20/03/2016
 * Time: 23:54
 */

/**
 * @var \Magento\Checkout\Block\Cart\Totals $block
 */
?>

<?php if ($block->getTotals()): ?>
    <?php $_colspan = 3; ?>
    <?php /* @escapeNotVerified */ echo $block->renderTotals(null, $_colspan); ?>
    <?php /* @escapeNotVerified */ echo $block->renderTotals('footer', $_colspan); ?>
    <?php if ($block->needDisplayBaseGrandtotal()):?>
        <tr class="totals charge">
            <th class="mark" colspan="<?php /* @escapeNotVerified */ echo $_colspan; ?>" scope="row">
                <?php /* @escapeNotVerified */ echo __('Your credit card will be charged for') ?>
            </th>
            <td class="amount" data-th="<?php echo $block->escapeHtml(__('You will be charged for')); ?>">
                <?php /* @escapeNotVerified */ echo $block->displayBaseGrandtotal() ?>
            </td>
        </tr>
    <?php endif?>
<?php endif; ?>
