<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label">
            <!-- PayPal Logo -->
            <img data-bind="attr: {src: getPaymentAcceptanceMarkSrc(), alt: $t('Acceptance Mark')}"
                 class="payment-icon"/>
            <!-- PayPal Logo -->
            <span data-bind="text: getTitle()"></span>
            <a data-bind="attr: {href: getPaymentAcceptanceMarkHref()}, click: showAcceptanceWindow" class="action action-help">
                <!-- ko i18n: 'What is PayPal?' --><!-- /ko -->
            </a>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <fieldset class="fieldset" data-bind='attr: {id: "payment_form_" + getCode()}'>
            <div class="payment-method-note">
                <!-- ko i18n: 'You will be redirected to the PayPal website.' --><!-- /ko -->
            </div>
            <!-- ko template: 'Magento_Paypal/payment/express/billing-agreement' --><!-- /ko -->
        </fieldset>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <!--ko if:hasSubscription() == 1 -->
                    <!--ko if:currencyIsSupportedByPaypal() == 0 -->
                    <span class="authorize-subscription-disable-message" data-bind="visible:isDisable,text:$t('Your selected currency is not supported')"></span>
                    <!--/ko-->
                <button class="action primary checkout"
                          type="submit"
                          data-bind="click: signupByPayPal, disable: isDisable"
                          disabled>
                <span data-bind="i18n: 'Sign Up'"></span>
               </button>
                <!--/ko-->
                <!--ko if:hasSubscription() == 0 -->
                <button class="action primary checkout"
                        type="submit"
                        data-bind="click: continueToPayPal, enable: (getCode() == isChecked())"
                        disabled>
                    <span data-bind="i18n: 'Continue to PayPal'"></span>
                </button>
                <!--/ko-->
            </div>
        </div>
    </div>
</div>
