<?php
/**
 * Created by Magenest.
 * Author: Pham Quang Hau
 * Date: 19/03/2016
 * Time: 23:25
 */
/** @var \Magenest\Subscription\Block\Express\Review $block */
$response = $block->getResponseInfo();
$quote = $block->getQuote();
$address = $quote->getShippingAddress();
$item = $block->getCartItem();

//$block->test();
?>

<div class="paypal-review view">
    <div class="block block-order-details-view">
        <div class="block-content">
            <div class="box box-order-shipping-address">
                <strong class="box-title">
                    <span><?php echo $block->escapeHtml(__('Shipping Address'))?></span>
                </strong>
                <div class="box-content">
                    <table>
                        <tr>
                            <th><?php echo __('Ship to Name'); ?></th>
                            <td><?php echo $block->getCustomerName() ?></td>
                        </tr>
                        <tr>
                            <th><?php echo __('Street'); ?></th>
                            <td><?php echo $address->getStreetFull(); ?></td>
                        </tr>
                        <tr>
                            <th><?php echo __('City'); ?></th>
                            <td><?php echo $address->getCity(); ?></td>
                        </tr>
                        <tr>
                            <th><?php echo __('State'); ?></th>
                            <td><?php echo $address->getRegion(); ?></td>
                        </tr>
                        <tr>
                            <th><?php echo __('ZIP Postal Code'); ?></th>
                            <td><?php echo $address->getPostcode(); ?></td>
                        </tr>
                        <tr>
                            <th><?php echo __('Country'); ?></th>
                            <td><?php echo $address->getCountry(); ?></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="box box-order-billing-address">
                <strong class="box-title">
                    <span><?php echo $block->escapeHtml(__('Payment Method'))?></span>
                </strong>
                <div class="box-content">
                    <span><?php echo $block->escapeHtml(__('Paypal Recurring Payment'))?></span>
                </div>
            </div>
        </div>
    </div>

    <div class="paypal-review-items">
        <div class="paypal-review-title">
            <strong><?php echo $block->escapeHtml(__('Items in Your Shopping Cart')); ?></strong>
            <a href="<?php echo $block->escapeHtml($block->getUrl('checkout/cart')); ?>" class="action edit">
                <span><?php echo $block->escapeHtml(__('Edit Shopping Cart')); ?></span>
            </a>
        </div>

        <?php echo $block->getChildHtml('details') ?>

        <form method="post" id="order-review-form" action="<?php echo $block->getPlaceOrderUrl(); ?>" class="form">
            <?php echo $block->getChildHtml('agreements'); ?>
            <input style="display: none" value="<?php echo $response['TOKEN']; ?>" name="subscription_token" />
            <input style="display: none" value="<?php echo $response['PAYERID']; ?>" name="subscription_payer_id" />
            <div class="actions-toolbar" id="review-buttons-container">
                <div class="primary">
                    <button id="review-button" class="action checkout primary"
                            value="<?php echo $block->escapeHtml(__('Place Order')); ?>">
                        <span><?php echo $block->escapeHtml(__('Place Order')); ?></span>
                    </button>
                </div>
                <span class="please-wait load indicator" id="review-please-wait" style="display: none;"
                      data-text="<?php echo $block->escapeHtml(__('Submitting order information...')); ?>">
                   <span><?php echo $block->escapeHtml(__('Submitting order information...')); ?></span>
                </span>
            </div>
        </form>
    </div>
</div>


