<?php
    /** @var \Magenest\Subscription\Block\Adminhtml\Template\Edit\Tab\AssignProduct $block */
    $assignProducts = $block->getAssignedProducts();
    $encodeProducts = json_encode($assignProducts);
?>


<input type="hidden" name="assign_products" id="subscription_products"/>
<div><?php echo $block->getChildHtml('template.product.listing'); ?></div>

<script>
    window.formKey = '<?php echo $block->getFormKey();?>';
    window.assignProductsArr = '<?php echo $encodeProducts; ?>'; // todo
</script>

<script type="text/x-magento-init">
    {
        ".template-product-listing": {
            "Magenest_Subscription/js/view/assign_products":{}
        }
    }
</script>