#user_define_date {
    width: 50%;
}

.ui-datepicker-trigger {
    width: 35px;
}

.subscription-option-wrapper .subscription-option-field {
    display: inline-block;
    width: 100%;
}

.subscription-option-wrapper .subscription-option-field > .subscription-radio-field {
    float: left;
    line-height: 24px;
    margin-right: 5px;
}