/* Product items */
.products-grid .product-item-details {
    position: relative;
}

.products-grid .product-item-details > strong:not(.product-item-name) {
    position: absolute;
    top: -49px;
    right: 0;
    z-index: 2;
    color: #ff5501;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 5px 0 0;
    font-weight: 600;
}

@media (min-width: 640px) {
    .products-grid .product-item-inner {
        margin-left: -10px !important;
        margin-right: -9px !important;
    }
}

/* END Product items */

/* Product detail */
.catalog-product-view .product-options-wrapper > .fieldset > div {
    margin-bottom: 20px;
}

.catalog-product-view .subscription-option-wrapper > span {
    font-weight: 600;
    margin: 0 0 8px;
    display: inline-block;
}

.catalog-product-view .control.scheduled-start-date {
    position: relative;
    width: 100% !important;
}

.catalog-product-view .control.scheduled-start-date button.ui-datepicker-trigger {
    position: absolute;
    top: 7px;
    right: 0;
}

/* END Product detail */

a:hover {
    cursor: pointer;
}