<?php
/**
 * Created by PhpStorm.
 * User: root
 * Date: 03/10/2017
 * Time: 15:15
 */
?>
<?php /** @var $block \Magenest\Subscription\Block\Checkout\Success */
?>
<div class="checkout-success">
    <?php
    $profiles = $block->getSubscriptionProfiles();
    if ($profiles) { ?>
        <p> <?php echo __('Your subscription ID is: ') ?>
        <!--loop through each profile-->
        <?php foreach ($profiles as $profile) { ?>
                <a href="<?php echo $block->getViewUrl($profile->getId()) ?>">
                    <strong> <?php echo $profile->getProfileId() ?></strong> </a><br>
            </p>
        <?php } ?>
    <?php } ?>
    <p><?= /* @escapeNotVerified */ __('We\'ll send you an email with your subscription details.') ?></p>

    <?= $block->getAdditionalInfoHtml() ?>

    <div class="actions-toolbar">
        <div class="primary">
            <a class="action primary continue" href="<?= /* @escapeNotVerified */
            $block->getContinueUrl() ?>"><span><?= /* @escapeNotVerified */
                    __('Continue Shopping') ?></span></a>
        </div>
    </div>
</div>
