<?php
/**
 * Created by Magenest.
 * Author: Pham Quang Hau
 * Date: 26/03/2016
 * Time: 00:42
 */
/**@var \Magenest\Subscription\Block\Adminhtml\Profile\View\Tabs\Info $block */
?>
<?php
/** @var \Magenest\Subscription\Model\Profile $profile */
$profile = $block->getProfile();
$initAmount = $profile->getInitAmt();
$trialAmount = $profile->getTrialAmt();
$shipToCity = $profile->getShipToCity();

?>
<?php if ($profile->getMethodCode() == 'check/order') {
    $render_code = 0;
    $method_code = 'Check/Order';
} elseif ($profile->getMethodCode() == 'paypal_express') {
    $render_code = 1;
    $method_code = 'Paypal Express Checkout';
} else if ($profile->getMethodCode() == 'authorizenet_directpost') {
    $render_code = 2;
    $method_code = 'Authorize.net';
}?>

<section class="admin__page-section order-view-account-information">
    <div class="admin__page-section-title">
        <span class="title"><?php echo $block->escapeHtml(__('General Recurring Profile Information')) ?></span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item order-information">
            <div class="admin__page-section-item-title">
                <span class="title"><?php echo __('Profile Reference'); ?></span>
            </div>
            <div class="admin__page-section-item-content">
                <table class="admin__table-secondary order-information-table">
                    <tr>
                        <th><?php echo __('Payment Method'); ?></th>
                        <td><?php echo $block->escapeHtml($method_code); ?></td>
                    </tr>
                    <?php if ($render_code == 1) { ?>
                        <tr>
                            <th><?php echo __('Profile ID'); ?></th>
                            <td><?php echo $profile->getProfileId(); ?></td>
                        </tr>
                    <?php } elseif ($render_code == 2) { ?>
                        <tr>
                            <th><?php echo __('Subscription ID'); ?></th>
                            <td><?php echo $profile->getProfileId(); ?></td>
                        </tr>
                    <?php } else { ?>
                        <tr>
                            <th><?php echo __('Profile ID'); ?></th>
                            <td><?php echo __('N/A'); ?></td>
                        </tr>
                    <?php } ?>
                    <tr>
                        <th><?php echo __('Status'); ?></th>
                        <td><?php echo ucfirst($profile->getState()); ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Subscription Description'); ?></th>
                        <td><?php echo $profile->getProductName(); ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Date of Subscription'); ?></th>
                        <td><?php echo $profile->getCreatedAt(); ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Subscriber Name'); ?></th>
                        <td><?php echo $profile->getSubscriberName(); ?></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="admin__page-section-item order-account-information">
            <div class="admin__page-section-item-title">
                <span class="title"><?php echo __('Recurring Schedule'); ?></span>
            </div>
            <div class="admin__page-section-item-content">
                <table class="admin__table-secondary order-information-table">
                    <tr>
                        <th><?php echo __('Start Date'); ?></th>
                        <td><?php echo $profile->getStartDatetime(); ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Maximum Payment Failures'); ?></th>
                        <?php if ($profile->getSuspensionThreshold() != -1) { ?>
                            <td><?php echo $profile->getSuspensionThreshold(); ?></td>
                        <?php } else { ?>
                            <td><?php echo __('N/A'); ?></td>
                        <?php } ?>
                    </tr>
                    <tr>
                        <th><?php echo __('Billing Period Info')?></th>
                        <td><?php echo $profile->getPeriodFrequency() . ' ' . $profile->getPeriodUnit() . " cycle. "; ?>
                            <?php echo 'Repeat ' . $profile->getPeriodMaxCycles() . ' time(s).'?>
                        </td>
                    </tr>
                    <tr>
                        <th><?php echo __('Regular Billing Amount'); ?></th>
                        <td><?php echo $profile->getCurrencyCode() . $profile->getBillingAmount(); ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Regular Tax Amount'); ?></th>
                        <td><?php if ($block->renderField($profile->getTaxAmount()) != 'N/A') echo $profile->getCurrencyCode(); ?> <?php echo $block->renderField($profile->getTaxAmount()); ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Regular Shipping Amount'); ?></th>
                        <td><?php if ($block->renderField($profile->getShippingAmount()) != 'N/A') echo $profile->getCurrencyCode(); ?> <?php echo $block->renderField($profile->getShippingAmount()); ?></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="admin__page-section-item order-information">
            <div class="admin__page-section-item-title">
                <span class="title"><?php echo __('Current Status'); ?></span>
            </div>
            <div class="admin__page-section-item-content">
                <table class="admin__table-secondary order-information-table">
                    <tr>
                        <th><?php echo __('Cycles Completed'); ?></th>
                        <td><?php echo $profile->getData('cycles_completed'); ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Cycles Remaining'); ?></th>
                        <td><?php echo $profile->getData('cycles_remaining'); ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Outstanding Balance'); ?></th>
                        <td><?php if ($block->renderField($profile->getData('outstanding_balance')) != 'N/A') echo $profile->getCurrencyCode(); ?> <?php echo $block->renderField($profile->getData('outstanding_balance')); ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Failed Payments'); ?></th>
                        <td><?php echo $block->renderField($profile->getData('failed_payments')); ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Amount of Trial Period Paid'); ?></th>
                        <td><?php if ($block->renderField($profile->getData('trial_paid')) != 'N/A') echo $profile->getCurrencyCode(); ?> <?php echo $block->renderField($profile->getData('trial_paid')); ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Amount of Regular Period Paid'); ?></th>
                        <td><?php if ($block->renderField($profile->getData('regular_paid')) != 'N/A') echo $profile->getCurrencyCode(); ?> <?php echo $block->renderField($profile->getData('regular_paid')); ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Aggregate Amount'); ?></th>
                        <td><?php if ($block->renderField($profile->getData('aggregate_amount')) != 'N/A') echo $profile->getCurrencyCode(); ?> <?php echo $block->renderField($profile->getData('aggregate_amount')); ?></td>
                    </tr>
                </table>
            </div>
        </div>
</section>

<section class="admin__page-section order-view-account-information">
    <div class="admin__page-section-title">
        <span class="title"><?php echo $block->escapeHtml(__('Trial and Initial Fee Information')) ?></span>
    </div>

    <div class="admin__page-section-content">
        <div class="admin__page-section-item order-information">
            <div class="admin__page-section-item-title">
                <span class="title"><?php echo __('Trial Fee Information'); ?></span>
            </div>
            <div class="admin__page-section-item-content">
                <?php if ($trialAmount) { ?>
                <table class="admin__table-secondary order-information-table">
                    <tr>
                        <th><?php echo __('Period Info'); ?></th>
                        <td><?php
                             echo $profile->getTrialBillingFrequency()  . ' ' . $profile->getTrialBillingPeriod() ;
                             echo    __(' cycle. ') ;
                             ?>
                              &nbsp;
                             <?php echo __('Repeat')    ?>
                             &nbsp;
                             <?php echo $profile->getTrialBillingCycles()  ?>
                             &nbsp;
                            <?php echo __('time(s)') ?>
                        </td>
                    </tr>
                    <tr>
                        <th><?php echo __('Regular Trial Amount'); ?></th>
                        <td><?php echo $trialAmount ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Trial Tax Amount'); ?></th>
                        <td><?php echo $block->renderField($profile->getTrialTaxAmt()) ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Trial Shipping Amount'); ?></th>
                        <td><?php echo $block->renderField($profile->getTrialShippingAmt()); ?></td>
                    </tr>
                </table>
                <?php } else {
                    echo __('Trial Not Enabled For This Profile');
                } ?>
            </div>
        </div>
        <div class="admin__page-section-item order-account-information">
            <div class="admin__page-section-item-title">
                <span class="title"><?php echo __('Initial Fee Information'); ?></span>
            </div>
            <div class="admin__page-section-item-content">
                <?php if ($initAmount) {?>
                <table class="admin__table-secondary order-information-table">
                    <tr>
                        <th><?php echo __('Initial Fee Information'); ?></th>
                        <td><?php echo $initAmount ?></td>
                    </tr>
                </table>
                <?php } else {
                    echo __('Initial Fee Not Enabled For This Profile');
                } ?>
            </div>
        </div>
    </div>
</section>

<section class="admin__page-section order-view-account-information">
    <div class="admin__page-section-title">
        <span class="title"><?php echo $block->escapeHtml(__('Product and Shipping Information')) ?></span>
    </div>

    <div class="admin__page-section-content">
        <div class="admin__page-section-item order-information">
            <div class="admin__page-section-item-title">
                <span class="title"><?php echo __('Shipping Information'); ?></span>
            </div>
            <div class="admin__page-section-item-content">
                <?php if ($shipToCity) {?>
                <table class="admin__table-secondary order-information-table">
                    <tr>
                        <th><?php echo __('Ship to Name'); ?></th>
                        <td><?php echo $profile->getShipToName() ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Street'); ?></th>
                        <td><?php echo $profile->getShipToStreet() ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('City'); ?></th>
                        <td><?php echo $shipToCity ?></td>
                    </tr>
                    <?php if ($profile->getShipToState()) { ?>
                    <tr>
                        <th><?php echo __('State'); ?></th>
                        <td><?php echo $profile->getShipToState() ?></td>
                    </tr>
                    <?php } ?>
                    <tr>
                        <th><?php echo __('ZIP Postal Code'); ?></th>
                        <td><?php echo $profile->getShipToZip() ?></td>
                    </tr>
                    <tr>
                        <th><?php echo __('Country'); ?></th>
                        <td><?php echo $profile->getShipToCountry() ?></td>
                    </tr>
                </table>
                <?php }  ?>
            </div>
        </div>
        <div class="admin__page-section-item order-account-information">
            <div class="admin__page-section-item-title">
                <span class="title"><?php echo __('Product Information'); ?></span>
            </div>
            <div class="admin__page-section-item-content">
                <?php
                $itemInfo = unserialize($profile->getItemInfo());
                ?>

                <div class="box-content">
                    <?php
                    if ($itemInfo) {
                        ?>
                        <table class="admin__table-secondary order-information-table">
                            <?php foreach ($itemInfo as $item)  {  ?>
                                <tr>
                                    <th><?php echo __('ID'); ?></th>
                                    <td><?php echo $item['product_id']; ?></td>
                                </tr>
                                <tr>
                                    <th><?php echo __('Name'); ?></th>
                                    <td><a href="<?php echo $block->getProductModel()->load($item['product_id'])->getProductUrl()?>"><?php echo $item['product_name']; ?></a></td>
                                </tr>
                                <tr>
                                    <th><?php echo __('Sku'); ?></th>
                                    <td><?php echo $item['product_sku']; ?></td>
                                </tr>
                            <?php } ?>
                        </table>
                        <?php
                    }
                    ?>
            </div>
        </div>
    </div>
</section>