<?php
/**
 * Created by PhpStorm.
 * User: root
 * Date: 03/10/2017
 * Time: 08:23
 */
/** @var \Magenest\Subscription\Block\Customer\Action\Authorize $block */

/** @var \Magenest\Subscription\Model\Profile  $profile */
$profile = $block->getProfile();

?>
<div class="profile-action-wrapper">
    <?php if ($profile->getState() == 'active' && $block->getIsCancelAllowed()) { ?>
        <div class="profile-action">
            <a href="<?php echo $block->getManageProfileUrl('cancel') ?>"> <?php echo __('Cancel') ?></a>
        </div>
    <?php } ?>
</div>
