<?php
/**
 * Created by PhpStorm.
 * User: root
 * Date: 03/10/2017
 * Time: 08:22
 */
/** @var \Magenest\Subscription\Block\Customer\Action\Paypal $block */

/** @var \Magenest\Subscription\Model\Profile  $profile */
$profile = $block->getProfile();

?>
<div class="profile-action-wrapper">
    <?php if (($profile->getState() == 'active' || $profile->getState() == 'suspended') && $block->getIsCancelAllowed()) { ?>
        <div class="profile-action">
            <a href="<?php echo $block->getManageProfileUrl('cancel') ?>"> <?php echo __('Cancel') ?></a>
        </div>
    <?php } ?>

    <?php if ($profile->getState() == 'active' && $block->getIsSuspendAllowed()) { ?>
        <div class="profile-action">
            <a href="<?php echo $block->getManageProfileUrl('suspend') ?>"> <?php echo __('Suspend Profile') ?></a>
        </div>
    <?php } ?>

    <?php if ($profile->getState() == 'suspended' && $block->getIsReactivateAllowed()) { ?>
        <div class="profile-action">
            <a href="<?php echo $block->getManageProfileUrl('reactivate') ?>"> <?php echo __('Reactivate Profile') ?></a>
        </div>
    <?php } ?>

</div>
