<!--@subject Canceled Subscription @-->
{{template config_path="design/email/header_template"}}
<h1>Hello {{var customer_name}},</h1>
<p>You have successfully canceled a subscription</p>
<p>Your recurring profile #: <a href="{{var profile_url}}">{{var profile_id}}</a></p>
{{template config_path="design/email/footer_template"}}