<!--@subject Suspended Subscription @-->
{{template config_path="design/email/header_template"}}
<h1>Hello {{var customer_name}},</h1>
<p>You have successfully suspend a subscription</p>
<p>Your subscription id: <a href="{{var profile_url}}">{{var profile_id}}</a></p>
{{template config_path="design/email/footer_template"}}