<?php
/**
 * Created by Magenest.
 * Author: Pham Quang Hau
 * Date: 20/03/2016
 * Time: 23:06
 */

/**
 * @var \Magenest\Subscription\Block\Express\Review\Details $block
 */
?>

<?php $quote = $block->getQuote(); ?>
<?php $product = $block->getProduct(); ?>

<div id="item-details" class="table-wrapper order-items cart">
    <table id="details-table" class="cart items data table table-paypal-review-items">
        <caption class="table-caption"><?php echo $block->escapeHtml(__('Items in Your Shopping Cart')); ?></caption>
        <thead>
        <tr>
            <th class="col name" scope="col"><?php echo $block->escapeHtml(__('Item')); ?></th>
            <th class="col price" scope="col"><?php echo $block->escapeHtml(__('Price')); ?></th>
            <th class="col qty" scope="col"><?php echo $block->escapeHtml(__('Qty')); ?></th>
            <th class="col subtotal" scope="col"><?php echo $block->escapeHtml(__('Subtotal')); ?></th>
        </tr>
        </thead>

        <?php foreach ($block->getItems() as $item): ?>
            <?php echo $block->getItemHtml($item) ?>
        <?php endforeach ?>

        <tfoot>
        <?php echo $block->getChildHtml('totals'); ?>
<!--        <tr>-->
<!--            <th class="mark" colspan="3" scope="row">--><?php //echo __('Recurring Initial Fee'); ?><!--</th>-->
<!--            <td class="amount">--><?php //echo $product->getData('init_fee_amount'); ?><!--</td>-->
<!--        </tr>-->
        <?php ?>
        </tfoot>
    </table>
</div>
